    <header class="header-container">
        <!-- Logo -->
        <a href="/pages/index.html" class="logo-link">
            <img src="/assets/icon/logo-edyal-morado.svg" alt="Logo de Edyal" class="logo-image">
        </a>

        <!-- Navegación -->
        <nav class="nav-menu">
            <button class="close-btn">
                <img src="/assets/icon/close-icon.svg" alt="cerrar" class="close-icon">
            </button>
            <ul class="nav-list">
                <li><a href="#" class="nav-link">Nosotros</a></li>
                <li><a href="#" class="nav-link">Catálogo</a></li>
                <li><a href="#" class="nav-link">Mayoristas</a></li>
                <li><a href="#" class="nav-link">Pedidos</a></li>
                <li><a href="#" class="nav-link">Contacto</a></li>
            </ul>
        </nav>

        <!-- Botón hamburguesa -->
        <button class="hamburger-btn">
            <img src="/assets/icon/hamburguesa-icon.svg" alt="menú" class="hamburger-icon">
        </button>
    </header>

    <!-- Overlay -->
    <div class="menu-overlay"></div>
</body>
</html>